.App {
  width: 100vw;
  height: 100vh;
  background: var(--cor-bg);
  color: var(--cor-font);
}

.jodit-status-bar{
  display: none;
}

:root {

  /* COLOR */
  --cor-bg: #040608;
  --cor-icons: #ffffff;
  --cor-font: #fff;
  --cor-font-menu: #ffffff;
  --cor-secundaria: #6c757d;
  --cor-bg-form: #151420;

  /* BORDAS */
  --border_sty01: 1px solid #262626; 
  
  --bg-btn: #2600ff;
  --bg-btn-active: #684eff;

}


.cool{
  color: #040608;
  color: #684eff;

  background: #606c88;
  background: -webkit-linear-gradient(to right, #151420, #191c24);
  background: linear-gradient(to right, #151420, #191c24);
  background: -webkit-linear-gradient(to right, blue, #3535ff);
  background: linear-gradient(to right, blue, #3535ff);


  background: #E1B268;
  background: -webkit-linear-gradient(to right, #E1B268 10%, #ffbb4e);
  background: linear-gradient(150deg, #E1B268 10%, #ffbb4e 100%);
}